h1 {
  text-align: center;
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  gap: 10rem;
  margin: 1rem;
  padding: 1rem;
}

.navBar {
  width: 15rem;
  text-align: left;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-card {
  outline: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.items-list li {
  outline: 1px solid;
  padding: 1rem;
}
